body{
  font-family: montserrat;
  margin: 0;
  background-color: #e2e2e2;
}

img{
  height: 100%;
  width: 100%;
}
button{
  font-family: inherit;
  cursor: pointer;
  background-color: #4B0000;
  border: none;
  color: white;
  transition: padding 0.5s;
  
}

a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  text-decoration: underline;
}


/* Create the parallax scrolling effect */
.parallax{
  background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/* NAVBAR */

.navbar{

      /* background-image: linear-gradient(to right, #4B0000 , #00000000); */
      background-color: #4B0000;
    position: fixed;
    top: -200px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    text-align: center;
    padding: 2vh 0vh 2vh 0vh;
      align-items: center;
  

}
.navbar>div{
margin: auto;}

.nav-logo{
  height: 50px;
    width: 50px;
}
.nav-content>ul{
  list-style-type: none;
}
.nav-content>ul>li{
  display: inline;
  margin: auto;
  text-align: center;
}
.nav-content a{
  color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 8px 0px 8px;
    font-weight: bold;
}



/* LANDING PAGE */

.home{
  background-image: url('https://bit.ly/2zuZcPg');
  height: 100vh;
  width: 100;
  background-size: 100% 120%;
  position: relative;
  
}

.overlay{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #4B0000 , #00000000);
  opacity: 50%;

}

.header{
  position: relative;
}
.header>div{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 8vh;
}
.logo{
  left: 24vh;
}
.menu{
  right: 8vh;
  
}
.menu>img{
  height: 75px;
  width: 75px;
}


.landing{
display: flex;
flex-direction: row;
position: relative;
top: 45vh;
color: #ffffff;
}
.landing>div{
  width: 50%;
  margin: auto;
  text-align: center;
}

.brand{

}
.brand-name{
  font-family: "gabriola";
  font-size: -webkit-xxx-large;
}
.brand-quote{
  font-size: large;

}
.brand-social{
  font-size: x-large;
  position: relative;
  padding-top: 36px;
}


.options{
  display: flex;
    flex-direction: column;
    align-items: center;
  

}
.options>button{
  
  font-size: 28px;
  border: none;
  background-color: #4B0000;
  color: #fff;
  padding: 10px 8px;
  width: 40%;
  cursor: pointer;
  transition: 1s;
  border-radius: 25px;
}

.options>button:hover{
transform: scale(1.1);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transition: 1s;
background-color: #000000;

}

/* ABOUT */
.about{
  height: 100vh;
  display: flex;
  align-items: center;
}

.about>div{
  margin: auto;
    margin-bottom: 2%;
}
.about-detail{
  display: flex;
  width:60%;
  box-shadow:1px 0px 5px black;

}
.about-detail>div{
}

.about-detail-image{
  width: 40%;

}
.about-detail-description{
  width: 60%;
    text-align: justify;
    padding: 24px;
    font-size: 18px;

}
.about-detail-description button{
    background-color: #430000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 16px;
    transition: padding 0.5s;
}

.about-detail-description button:hover{
  padding: 8px 32px;
}

.about-links{
  width: 20%;
  padding-bottom: 15%;

}
.about-links>button{
  width: 80%;
  background-color: #430000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    padding: 10px 16px;
    transition: padding 0.5s
    ;
  

}

.about-links>button:hover{
  background-color: black;
  text-align: left;
  padding: 10px 32px;
}


/* CLASSES */
.classes{
  display: flex;
  padding: 2%;
  
}

.classes>div{
  margin: auto;

}

.title{
  font-size: x-large;
  font-weight: bold;
  width: 20%;
  text-align: center;
}

.vl{
  border-left: 1px solid #4B0000;
  height: 60vh;
  width: 1%;
}
.class-list{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.class-list>button{
    padding: 12px;
    font-size: 16px;
}

.class-list>button:hover{
  text-align: start;
  padding: 24px;
}

.class-image{
  width: 10%;
}





/* FOOTER */
.footer{
  background: #4B0000 0% 0% no-repeat padding-box;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
}
.footer>div{
  margin: 5px auto 5px auto;
}

.footer-content{
  text-align: left;
  color: #FFFFFF;
}
.footer-content ul{
  list-style: none;
  font-weight: bold;

}
.footer-content li{
  padding-left: 20px;
  font-weight: normal;

}

.footer-social{
  text-align: center;
    align-self: center;
    z-index: 1;
}
.footer-social a{
  font-size: 36px;
  margin: 5px;
}
.footer-social a:hover{
  color: #000000;
}